.title {
    margin-bottom: 10px;
    text-align: center;
    width: 14%;
    color: rgb(253, 253, 253);
    border: solid rgb(255, 255, 255) 2px;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 4px;
}


input[type="button"]{
font-size: 14px;
font-weight: 600;
padding: 15px 30px;
color: black;
background-color: rgb(52, 162, 182);
border-radius: 4px;
cursor: pointer;
border: solid black 1px;
outline: none;
transition: 0.2s;
text-align: center;
table-layout: fixed;
border-collapse: collapse;
width: 100%;
}



input[type='text']{
    height: 3.125rem;
    padding: 0 ;
    font-size: 14px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
}



.center {
display: flex; 
align-items: center;
justify-content: center;
height: 100vh;
flex-direction: column;
}

body.light {
    background-color: rgb(192, 89, 89);
    color: black;
}

body.dark {
    background-color: #292c35ee;
    color: white;

}

body.dark .title{
    color: white;
    border: solid white 1px;
}

* {
    box-sizing: border-box;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 50px;
    position: relative;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
    background: rgb(255, 255, 254);
}

body .title{
        margin-bottom: 10px;
    text-align: center;
    width: 14%;
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0) 2px;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 4px;
}

.fa-moon {
    color: #f1c40f;

}

.fa-sun {
    color: #f39c12;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
   transform: translateX(24px);
}
.checkbox {
    opacity: 0;
    position: absolute;
}

